@model LPGCylinderSystem.Models.Dcard

@{
    ViewData["Title"] = "CreateCard";
}

<h1>CreateCard</h1>

<h4>Dcard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Card_Id" class="control-label"></label>
                <input asp-for="Card_Id" class="form-control" />
                <span asp-validation-for="Card_Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="month" class="control-label"></label>
                <input asp-for="month" class="form-control" />
                <span asp-validation-for="month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="year" class="control-label"></label>
                <input asp-for="year" class="form-control" />
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVV" class="control-label"></label>
                <input asp-for="CVV" class="form-control" />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mailid" class="control-label"></label>
                <input asp-for="mailid" class="form-control" />
                <span asp-validation-for="mailid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="balance" class="control-label"></label>
                <input asp-for="balance" class="form-control" />
                <span asp-validation-for="balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
