@model LPGCylinderSystem.Models.Complaint

@{
    ViewData["Title"] = "Resolve";
}

<h1>Resolve</h1>

<h4>Complaint</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Resolve">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <input name="Complaint_Id" value="@Model.Complaint_Id" hidden />
            <input name="Booking_Id" value="@Model.Booking_Id"  hidden />
            <input name="Status" hidden value="@Model.Status"  />

            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"  />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
